html {
    background-color: #141414;
}

div {
    background-color: #141414;
}


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 4px #0fa,
        0 0 11px #0fa,
        0 0 19px #0fa,
        0 0 40px #0fa,
        0 0 80px #fff,
        0 0 90px #0fa,
        0 0 100px #fff,
        0 0 150px #0fa;
    }
    20%, 24%, 55%, 78% {
        text-shadow: none;
    }
}

.box1 {

    width: 350px;
    height: 437px;
    margin: auto;
    margin-top: 130px;
    background: rgb(230, 230, 230);
    border-radius: 1px;
}

.logo {
    width: 100%;
    margin: auto;
    margin-top: 47px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Cookie', cursive;
    font-size: 41px;
    animation: flicker 1.1s infinite alternate;
    color: #fff;
}

.btn {
    width: 268px;
    height: 35px;
    margin: 20px;
    margin-left: 40px;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    margin: 0 0 20px;
    background-color: rgb(230, 230, 230);
}

.or .line {
    width: 105px;
    height: 2px;
    margin: auto;
    background: #999;
}

.or p {
    margin: auto;
    color: #999;
    font-size: 12px;
}

.fb {
    background: rgb(230, 230, 230);
}

.fb-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 230, 230);
}

.fb-login img {
    width: 16px;
    height: 16px;
}

.fb-login a {
    color: #003569;
}

.forgot {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    background: rgb(230, 230, 230);
}

.forgot a {
    color: #003569;
}

.box2 {
    width: 350px;
    height: 61px;
    margin: auto;
    background: rgb(230, 230, 230);
    padding: 18px;
    text-align: center;
    color: #262626;
}

.footer {
    color: #8e8e8e;
    padding-top: 80px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}